import(methods)

useDynLib(LEA)

export(read.geno)
export(write.geno)
export(read.lfmm)
export(write.lfmm)
export(read.env)
export(write.env)
export(read.popgeno)
export(write.popgeno)

export(read.zscore)
export(read.dic)

export(geno2lfmm)
export(lfmm2geno)
export(ped2geno)
export(ped2lfmm)
export(vcf2geno)
export(ancestrymap2lfmm)
export(ancestrymap2geno)

exportClasses("pcaClass")

export(createDataSet)
export(sNMF)
export(crossEntropy)

export(pca)

exportMethods(	eigenvalues, 
		eigenvectors,
		sdev,
		projections,
		show,
		summary,
		read,
		write,
		zscores,
		pvalues,
		mlog10pvalues,
		ecdf
)

export(.DollarNames.pcaClass)

# LFMM S4methods
#s4method(lambda, LFMM)
#s4method(cFDR, LFMM)
#s4method(plot, LFMM)
#s4method(print, LFMM)
#s4method(summary, LFMM)

# sNMF s4methods
#s4method(crossEntropy, sNMF)
#s4method(plot, sNMF)
#s4method(print, sNMF)
#s4method(summary, sNMF)

export(LFMM)
