import(methods)

useDynLib(LEA)

# read and write functions
export(read.geno)
export(write.geno)
export(read.lfmm)
export(write.lfmm)
export(read.env)
export(write.env)
export(read.zscore)

# conversion function
export(geno2lfmm)
export(lfmm2geno)
export(ped2geno)
export(ped2lfmm)
export(vcf2geno)
export(vcf2lfmm)
export(ancestrymap2lfmm)
export(ancestrymap2geno)

# classes
#exportClasses(	#pcaProject,
		#snmfClass,
		#snmfProject,
#		lfmmClass,
#		lfmmProject)

# main functions
export(create.dataset)
export(sNMF)
export(cross.entropy.estimation)
export(pca)
# export(tracyWidom) <-- added as a method in pcaProject
export(LFMM)

# method associated with the classes
exportMethods(	
		show,
		summary,
		load.snmfProject,
		remove.snmfProject,
		load.lfmmProject,
		remove.lfmmProject,
		load.pcaProject,
		remove.pcaProject,
		Q,
		G,
		plot,
		z.scores,
		p.values,
		mlog10p.values,
		cross.entropy,
#		inflationFactorEstimation,
#		cFDR,
		tracy.widom
)

export(.DollarNames.pcaProject)
#export(.DollarNames.snmfClass)
#export(.DollarNames.snmfProject)
#export(.DollarNames.lfmmClass)
#export(.DollarNames.snmfProject)

