import(methods)

useDynLib(LEA)

# read and write functions
export(read.geno)
export(write.geno)
export(read.lfmm)
export(write.lfmm)
export(read.env)
export(write.env)
export(read.zscore)

# conversion function
export(geno2lfmm)
export(lfmm2geno)
export(ped2geno)
export(ped2lfmm)
export(vcf2geno)
export(vcf2lfmm)
export(ancestrymap2lfmm)
export(ancestrymap2geno)

# classes
#exportClasses(	#pcaClass,
		#snmfClass,
		#snmfProject,
#		lfmmClass,
#		lfmmProject)

# main functions
export(createDataSet)
export(sNMF)
export(crossEntropyEstimation)
export(pca)
# export(tracyWidom) <-- added as a method in pcaClass
export(LFMM)

# method associated with the classes
exportMethods(	#eigenvalues,
		#eigenvectors,
		#sdev,
		#projections,
		show,
		summary,
		load.snmfProject,
		# save.snmfProject,
		remove.snmfProject,
		#read.lfmmProject,
		#write.lfmmProject,
		#read.lfmmClass,
		#write.lfmmClass,
		#write.pcaClass,
		#read.pcaClass,
		#Qvalues,
		#Gvalues,
		Q,
		G,
		#getRuns.lfmmProject,
		#addRun.lfmmProject,
		plot,
		getRuns.snmfProject,
		addRun.snmfProject,
		zscores,
		pvalues,
		mlog10pvalues,
		ecdf,
		crossEntropy,
		lambda,
		cFDR,
		tracyWidom
)

#export(.DollarNames.pcaClass)
#export(.DollarNames.snmfClass)
#export(.DollarNames.snmfProject)
#export(.DollarNames.lfmmClass)
#export(.DollarNames.snmfProject)

