useDynLib(Replop)

export(read.geno)
export(write.geno)
export(read.lfmm)
export(write.lfmm)
export(read.env)
export(read.env)
export(read.dic)
export(read.zscore)

export(geno2lfmm)
export(lfmm2geno)
export(ped2geno)
export(ped2lfmm)
export(vcf2geno)
export(ancestrymap2lfmm)
export(ancestrymap2geno)

export(createDataSet)
export(sNMF)
export(crossEntropy)

export(pca)

export(LFMM)

